# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

# ▼HTML
'.text.html.basic,.text.html.php':
	# OGP
	'OGPの挿入':
		'prefix': 'zogp'
		'body': """
	<meta property="og:title" content="$1">
	<meta property="og:type" content="$2">
	<meta property="og:url" content="$3">
	<meta property="og:image" content="$4">
	<meta property="og:site_name" content="$5">
	<meta property="og:description" content="$6" />
	<meta property="fb:app_id" content="$7">
		"""

	# jQuery1.1
	'jQuery1系の挿入(CDN)':
		'prefix': 'zjquery1'
		'body': '<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>'

	# jQuery2.1
	'jQuery2系の挿入(CDN)':
		'prefix': 'zjquery2'
		'body': '<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>'

	# jQuery2.1
	'jQueryの$(function(){})を挿入':
		'prefix': 'zjqfunction'
		'body': """
$(function(){

});
		"""
	# HTC用 終わったら削除
	'HTC用ヘッダ':
		'prefix': 'zhtc_header'
		'body': '<!--#include virtual="/dev/header.txt" -->'
	# HTC用 終わったら削除
	'HTC用フッタ':
		'prefix': 'zhtc_footer'
		'body': '<!--#include virtual="/dev/footer.txt" -->'


# ▼CSS
#'.source.css':
#	'TEST':
#		'prefix': ''
#		'body': """
#		"""

'.source.css':
	# CompassとリセットCSSの読み込み
	'CompassとリセットCSSの読み込み':
		'prefix': 'zscss'
		'body': """
@charset "UTF-8";
@import "compass";
// CompassのHTML5用リセットCSS読み込み
@import "compass/reset";
		"""
	# コメント（大）を挿入
	'コメント（大）を挿入':
		'prefix': 'zcomment'
		'body': """
/*#########################################################

$1

#########################################################*/
		"""
	# コメント（小）を挿入
	'コメント（小）を挿入':
		'prefix': 'zcomment-s'
		'body': """
/* ========================================================
$1
=========================================================*/
		"""

# ▼JavaScript
#'.source.js':
#	'TEST':
#		'prefix': ''
#		'body': """
#		"""
